@CHARSET "ISO-8859-1";
@import "compass/css3";

$padding: 1em;

.t360-promo-overlay {
	z-index: 9998;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

.t360-promo-window {
	z-index: 9999;
	position: fixed;
	left: 10%;
	right: 10%;
	bottom: 10%;
	top: 10%;
	background-color: white;
	@include border-radius(1em);

	.window-wrapper {
		margin: $padding;
		position: absolute;
		left:0; right: 0; bottom: 0; top: 0;
		outline: 1px solid green;
	}

	a,
	h3,
	iframe {
		position: absolute;
		display: block;
	}

	a {
		right: 0;
		top: 0;
		width: 1em;
		font-size: 1.3em;
		line-height: 2em;
		outline: 1px solid blue;

		&:before {
			content: '\00D7';
			display: inline-block;
			font-size: 1em;
		}
	}
	h3 {
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;
		right: 1em;
		font-size: 1.3em;
		line-height: 2em;
		outline: 1px solid red;
	}
	.iframe-wrapper {
		outline: 1px solid orange;
		position: fixed;
		top: 2em;
		left: 0;
		right: 0;
		bottom: 0;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.t360-promo {
	z-index: 9997;

	// common position properties:
	&.bottom-right,
	&.bottom-left,
	&.top-right,
	&.top-left {
		position: absolute;
		display: block;
	}

	// specific position properties:
	&.bottom-right {
		bottom: 0;
		right: 0;
		padding: 0 $padding $padding 0;
	}
	&.bottom-left {
		bottom: 0;
		left: 0;
		padding: 0 0 $padding $padding;
	}
	&.top-right {
		top: 0;
		right: 0;
		padding: $padding $padding 0 0;
	}
	&.top-left {
		top: 0;
		left: 0;
		padding: $padding 0 0 $padding;
	}

	// link surrounding image
	a {
		border: none;
		display: block;
	}

	// promo image
	img {
		border: none;
	}
}